* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    display:flex;
    justify-content: center;
    text-align: center;
}



main {
    margin: 80px;
    padding-top: 90;
    padding-bottom:  100px;
    border: 1px solid black;
    width: 40%; 
}
.calc-ecran {
    width: 80%;
    margin: auto;
    margin-top:20px;
    padding: 20px;
    border: 2px solid;


}
.chiffres-signes {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}
.chiffres {
    border: 1px solid rgba(red, green, blue, alpha);
    padding: 25px;
    align-items: center;
    border-radius: 12px;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}